@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1-10 blockquote{
	text-indent: 0;
	text-align: center;
	font-variant: small-caps;
}

#chapter-1-10 blockquote p:nth-of-type(3){
	font-size: 16pt;
}

#chapter-2-1 table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}

#chapter-2-1 table tr.spacer {
	height: 12px;
	border: none;
}

#chapter-2-1 table td.brace {
	border-left: 2px solid #000;
	padding-left: 0.5em;
}

